mixin new(video)
  li.play(data-id=video._id)
    img(src=video.thumbUrl alt=video.title)
    .title=video.title
    .info-container
      .category=video.category
      .view=video.views
    .createdAt=video.createdAt