mixin popular(video, isLiked, index)
  li
    .left-box
      .thumbnail(style=`background-image: url(${video.thumbUrl})`)
      .rank
        if index === 0
          .icon 🥇
        if index === 1
          .icon 🥈
        if index === 2
          .icon 🥉
      .info
        .title=video.title
        .desc
          .views 조회수 #{video.views}
          .likes 좋아요 #{video.likes.length}
    .right-box 
      i(data-id=video._id).fa-solid.fa-play.play
      if isLiked
        i.fa-solid.fa-thumbs-up.like
      else
        i.fa-regular.fa-thumbs-up.like
      i.fa-solid.fa-plus.add