mixin selectAvatar(imageName)
  label(for=imageName)
    if imageName === "image1"
      input(id=imageName, name="avatarUrl", value=`/static/images/${imageName}.png`, type="radio", checked)
      div.image(style=`background-image:url(/static/images/${imageName}.png)`)
    else
      input(id=imageName, name="avatarUrl", value=`/static/images/${imageName}.png`, type="radio")
      div.image(style=`background-image:url(/static/images/${imageName}.png)`)